service: bachar-moustapha

provider:
  name: aws
  runtime: python3.9
  stage: dev
  region: eu-west-3

plugins:
  - serverless-python-requirements

functions:
  chatgpt-audio-chatbot:
    handler: handler.handler
    timeout: 30
    events:
      - http:
          path: get-answer
          method: post
          cors: true
      
custom:
  pythonRequirements:
    dockerizePip: true
    useDownloadCache: false
    useStaticCache: false